* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffd5f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Hlavní layout hry (rozdělení na dva sloupce) */
.hra-container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgb(255, 202, 244);
    border: 4px solid #ff98d4;
    border-radius: 8px;
    overflow: hidden;
}

/* Levá strana */
.hlavni-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe2f4;
    border-right: 2px solid #ff98d4;
}

h1 {
    margin: 0 0 10px 0;
    color: #333;
}

.skore-box {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Velká sušenka místo tlačítka */
.cookie-klik {
    font-size: 120px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.05s;
}

.cookie-klik:active {
    transform: scale(0.9); /* Efekt kliknutí */
}

/* Pravá strana (Shop) */
.bocni-panel {
    width: 300px;
    background-color: #ffbedd;
    padding: 20px;
}

.bocni-panel h3 {
    margin-top: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    color: #444;
}

/* Položky v obchodě */
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #ff98d4;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
}

.shop-item:hover {
    background-color: #ffbbe8;
}

.shop-item .nazev {
    font-weight: bold;
    font-size: 15px;
    color: #222;
}

.shop-item .cena {
    font-size: 13px;
    color: #202020;
    margin-top: 4px;
}